<!DOCTYPE html>
<html>
    <head>
        <title>Raddit</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
      <div id="main" class="cointainer">
        <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
        <% end %>
      </div>

        <!-- <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p> -->
        <header class="navbar navbar-default" role="navigation">
            <div class="navbar-inner">
                <div class="container">
                    <div id="logo" class="navbar-brand"><%= link_to "Raddit", root_path %></div>
                        <nav class="collapse navbar-collapse navbar-ex1-collapse">
                            <% if user_signed_in? %>
                            <ul>
                                <li>
                                    <%= link_to "submit new link", new_link_path %>
                                </li>
                                <li>
                                    <%= link_to "account settings", edit_user_registration_path %>
                                </li>
                                <li>
                                    <%= link_to "sign out", destroy_user_session_path, :method => :delete%>
                                </li>
                            </ul>
                        <% else %>
                            <ul>
                                <li>
                                    <%= link_to "sign up", new_user_registration_path %>
                                </li>
                                <li>
                                    <%= link_to "sign in", new_user_session_path %>
                                </li>
                            </ul>
                            <% end %>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <div id="container" class="col-md-9 center-block">
          <%= yield %>
        </div>
    </body>
</html>
